#brand-nav-wrap {
	align-items: flex-start;
	display: flex;
	flex-flow: row nowrap;
	justify-content:space-between;	
    margin: 40px auto;
    
    @include media( tablet ) {
		align-items: flex-end;
		max-width: 1366px;
		padding-left: 60px;
	} 
	
	@include media( desktop ) {
		padding-left: 20px;
	}
	
	.site-branding {
		img {
			margin-left: 20px;
			max-width: 80%;
			@include media( tablet ) {
				margin-left: 0;
				max-width: 100%;
			}
		}
	}
}

#logo-gallery {
	h6 {
		display: none;
	}
	
	position: relative;
    margin: auto;
    top: 40px;
	width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    
    @include media( tabletportrait ) {
	    top: 12%;
	}
    
    @include media( landscape ) {
	    top: 28%;
		margin: auto;
		width: 600px;
	}
	
	img {
		margin: 5px 10px;
		max-width: 80%;
		
		@include media( mobile ) {
			margin: 0 20px;
		}
		
		&:nth-of-type(2) {
			@include media( mobile ) {
				margin-bottom: 10px;
			}
		}
		
		&:nth-of-type(4) {
			margin-right: -5%;
			
			@include media( tabletportrait ) {
				margin-right: 20px;
			}
		}
		
		&:nth-of-type(1) {
			@include media( tabletportrait ) {
				margin-left: 0;
			}
		}
	}
}