// Custom Colours
$color__indigo: #364fc7;
$color__red: #F03D3E;
$color__green: #20c997;
$color__yellow: #FFE066;
$color__blue: #364fc7;
$color__dark: #212529;
$color__dark-gray: #495057;
$color__gray: #DDE2E5;

$color__background-body: #fff;
$color__background-screen: #F8F9FA;
$color__background-hr: #ACB5BD;
$color__background-button: #fff;
$color__background-pre: #DDE2E5;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #495057;
$color__text-input-focus: #212529;
$color__link: $color__dark-gray;
$color__link-visited: $color__dark-gray;
$color__link-hover: $color__indigo;
$color__text-main: #495057;

$color__border-button: $color__indigo;
$color__border-button-hover: $color__indigo;
$color__border-button-focus: $color__indigo;
$color__border-input: #DDE2E5;
$color__border-abbr: #495057;