// Responsive widths
$size__spacing-unit: 1rem;
$size__site-main: 100%;
$size__site-sidebar: 25%;

// Responsive widths
$mobile_width: 375px;
$tablet_portrait: 600px;
$tablet_width: 768px;
$bumpfont: 900px;
$landscape_width: 1075px;
$desktop_width: 1336px;
$wide_width: 1379px;